<div data-role="header" data-position="fixed" role="banner" class="ui-header ui-bar-inherit ui-header-fixed slidedown">
    <h1 class="wow fadeIn khmer-moul-header" data-wow-delay='0.2s' data-transition="slide">អំពីពួកយើង</h1>
    <a href="#" data-rel="back" class="ui-btn ui-btn-left wow fadeIn" data-wow-delay='0.8s'><i class="zmdi zmdi-arrow-back"></i></a>                            
</div>
<div role="main" class="ui-content" data-inset="false">
    <div class="nd2-card">        
        <div class="card-title">
            <img src="img/profile/lida.png" class="card-avatar"/>                             
            <h4 class="card-primary-title">សៀង សុខលីដា</h4>
        </div>
        <div class="card-action">
            <div class="card-supporting-text">
                <p>ជានិស្សិតរៀនផ្នែក Business Information System នៅសាកលវិទ្យាល័យ ប៉ាញ៉ាសាស្ត្រ។ </p>
            </div>
            <a class="ui-btn ui-btn-inline ui-btn-fab waves-effect waves-button waves-effect waves-button" href="mailto:khmerupdateku@gmail.com"><i class="zmdi zmdi-email"></i></a>            
            <a class="ui-btn ui-btn-inline ui-btn-fab waves-effect waves-button waves-effect waves-button" href="tel:+85593356456"><i class="zmdi zmdi-phone"></i></a>                        
        </div>
    </div>
    <div class="nd2-card">        
        <div class="card-title">
            <img src="img/profile/channy.png" class="card-avatar"/>                             
            <h4 class="card-primary-title">សុខ ចន្នី</h4>
        </div>
        <div class="card-action">
            <div class="card-supporting-text">                
                <p>ជានិស្សិតរៀនផ្នែក Computer Science នៅសាកលវិទ្យាល័យ ភូមិន្ទភ្នំពេញ។</p>
            </div>
            <a class="ui-btn ui-btn-inline ui-btn-fab waves-effect waves-button waves-effect waves-button" href="mailto:sokchanny.sg@gmail.com"><i class="zmdi zmdi-email"></i></a>            
            <a class="ui-btn ui-btn-inline ui-btn-fab waves-effect waves-button waves-effect waves-button" href="tel:+85586651443"><i class="zmdi zmdi-phone"></i></a>                        
        </div>
    </div>
    <div class="nd2-card">        
        <div class="card-title">
            <img src="img/profile/leangchean.png" class="card-avatar"/>                             
            <h4 class="card-primary-title">ស៊ុន លៀងឈាន</h4>
        </div>
        <div class="card-action">
            <div class="card-supporting-text">
                <p>ជានិស្សិតរៀនផ្នែក Computer Science នៅសាកលវិទ្យាល័យ ភូមិន្ទភ្នំពេញ។</p>
            </div>
            <a class="ui-btn ui-btn-inline ui-btn-fab waves-effect waves-button waves-effect waves-button" href="mailto:sourleangchhean7@gmail.com"><i class="zmdi zmdi-email"></i></a>            
            <a class="ui-btn ui-btn-inline ui-btn-fab waves-effect waves-button waves-effect waves-button" href="tel:+85586651443"><i class="zmdi zmdi-phone"></i></a>                        
        </div>
    </div>
</div>
