<div data-role="header" data-position="fixed" data-fullscreen="false">
    <a href="#leftpanel" class="ui-btn ui-btn-left wow fadeIn" data-wow-delay='0.2s' data-transition="slide"><img src="img/app/ic_launcher.png" width="100%" height="100%"></a>
    <h1 class="wow fadeIn khmer-moul-header" data-wow-delay='0.2s'><strong>CAM NGO</strong></h1>
    <a class="ui-btn-right wow fadeIn ui-btn waves-effect waves-button  waves-effect waves-button waves-effect waves-button"
       style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;" href="#home-bottom" data-role="button"
       data-rel="popup" data-wow-delay='0.2s' data-transition="slide"><i class="zmdi zmdi-more-vert zmd-2x"></i></a>
</div>
<div data-role="main" class="ui-content iscroll-wrapper">        
    {{#if noconnection}}
    <div class="col-xs-auto">
        <div data-role="footer" data-position="fixed" data-fullscreen="false" style="background-color:black ">
            <a class=" ui-btn ui-btn-inline waves-effect waves-button" data-wow-delay='0.2s' data-transition="slide"
               onclick="App.refresh()" href="#">
                <h6 class="khmer-regular align-left"  style="color: white">ពុំមានអ៊ីនធឺណិតតភ្ជាប់ <i class="zmdi zmdi-network-wifi-off"></i></h6>                                
            </a>
            <h6 style="font-size: 10px;color: blue;" class="khmer-regular align-right">ព្យាយាមម្តងទៀត</h6>            
        </div>
    </div>
    <div class="nd2-card">
        <div class="card-title center-xs">

            {{#if favorite}}          
            <div class="card-supporting-text">                                
                <a class=" ui-btn ui-btn-inline waves-effect waves-button" data-wow-delay='0.2s' data-transition="slide"  href="#page-favorite">
                    <h6 class="khmer-regular">លោកអ្នកអាចចូលទៅមើលចំណូលចិត្តរបស់អ្នក  <i class="zmdi zmdi-favorite"></i></h6>
                </a>
            </div>
        </div>
        {{/if}}
        {{else}}
        <div class="ui-grid-b">
            {{#each categories}}
            <div class='{{block}}'>        
                <div class="menu-elem" id="card-menu">
                    <a class=" ui-btn waves-effect waves-button" data-wow-delay='0.2s' data-transition="slide" href="#page-ngo" id="{{cat_id}}" data-cat_name = '{{name_kh}}'>
                        <div class="menu-img">
                            <img width="100%" src="{{../url}}img/category/{{logo}}"  style="border-radius:15%" onError="this.onerror=null;this.src='img/app/na.png';"/>                    
                        </div>                    
                    </a>
                </div>
            </div>
            {{/each}}
        </div>
        {{/if}}    
    </div>
</div>


<div data-role="panel" id="home-bottom" class="ui-bottom-sheet ui-bottom-sheet-list" data-animate="false" data-position='bottom' data-display="overlay">
    <div class="ui-panel-inner">
        <div class="row around-xs">
            <div class="col-xs-auto">
                <a class="khmer-regular ui-bottom-sheet-link ui-btn ui-btn-inline around-xs waves-effect waves-button" href="#page-favorite" data-wow-delay='0.2s' data-transition="slide">
                    <i class="zmdi zmdi-favorite zmd-2x"></i>
                    <strong>ចំណូលចិត្ត</strong>
                </a>
            </div>
            <div class="col-xs-auto">
                <div class="col-xs-auto">
                    <a class="khmer-regular ui-bottom-sheet-link ui-btn ui-btn-inline around-xs waves-effect waves-button" href="#noconnection" data-wow-delay='0.2s' data-transition="slide"
                       data-rele="popup">
                        <i class="zmdi zmdi-star zmd-2x"></i>
                        <strong>វាយតម្លៃកម្មវិធី</strong>
                    </a>
                </div>
                <div class="col-xs-auto">
                    <a class="khmer-regular ui-bottom-sheet-link ui-btn ui-btn-inline around-xs waves-effect waves-button" href="#page-about" data-wow-delay='0.2s' data-transition="slide">
                        <i class="zmdi zmdi-collection-text zmd-2x"></i>
                        <strong>អំពីពួកយើង</strong>
                    </a>
                </div>
                <div class="col-xs-auto">
                    <a class="khmer-regular ui-bottom-sheet-link ui-btn ui-btn-inline around-xs waves-effect waves-button" href="#" onclick="App.onExite()" data-ajax="false">
                        <i class="zmdi zmdi-close zmd-2x"></i>
                        <strong>ចាកចេញពីកម្មវិធី</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>