<div data-role="header">
    <a href="#" data-rel='back' class="ui-btn ui-btn-b ui-corner-all  ui-icon-back ui-btn-icon-left"></a>    
    <h1 id="page-detail-header"></h1>    
</div>
<div data-role="main" class="ui-content">       
    {{#each detail}}    
    <label>Khmer name:</label>{{name_kh}}
    <label>English name:</label>{{name_en}}
    <label>Short name:</label>{{name_short}}
    <label>Description:</label>{{description}}
    <label>Phone:</label>{{phone}}
    <label>Email:</label>{{email}}
    <label>Website:</label>{{website}}
    <label>Address:</label>{{address}}
    <label>Map:</label>        
    {{/each}}
</div>    
