<div data-role="header" data-position="fixed" class="wow fadeInDown" data-wow-delay="0.2s">    
    <a href="#" data-rel="back" class="ui-btn ui-btn-left wow fadeIn" style="font-size: 25px" data-wow-delay='0.8s'>
        <i class="zmdi zmdi-arrow-back"></i>
    </a>
    <h2 class="wow fadeIn khmer-regular" data-wow-delay='0.4s' id="page-ngo-header">{{ngo_category}}</h2>    
    <a href="#search" data-rel="popup" data-inline="true" data-transition="slide"
       class="ui-btn ui-btn-right" style="font-size: 25px" data-wow-delay='0.2s'>
        <i class="zmdi zmdi-search"></i>       
    </a>
    <div id="search" data-role="popup" class="col-xs-offset-2">
        <div style="right: 0;left: 0">
            <input id="filter-ngo" data-type="search" placeholder="Search your NGO hear.." 
                   class="input-search wow fadeIn" >
        </div>
    </div>   
</div>
<div data-role="content">    
    <ul data-role="listview" data-filter="true" data-filter-reveal="false" data-filter-placeholder="Searching for NGO...." data-input="#filter-ngo" id="list-ngo">
        {{#each ngos}}
        <li><a href="#page-ngo-detail" id={{ngo_id}} data-ngo_id = '{{ngo_id}}' data-ngo_name = '{{name_kh}}'>
                <img src="{{../url}}img/ngo/{{logo}}" class="ui-thumbnail ui-thumbnail-circular" onError="this.onerror=null;this.src='img/app/na.png';"/>                
                <h1 class="khmer-regular">{{name_kh}}</h1>
            </a>
        </li>
        {{/each}}        
    </ul>        
</div>    
