<div data-role="header">    
    <h1 id="page-ngo-header"></h1>
    <input  name="search-mini" id="search-mini" value="" data-mini="true" id="filterBasic-input" data-type="search" />      
</div>
<div data-role="content">
    <ul data-role="listview" id="list-ngo" data-filter="true" data-input="#filterBasic-input">        
        {{#each ngos}}
        <li><a href="#page-ngo-detail" id={{ngo_id}} data-ngo_id = '{{ngo_id}}' data-ngo_name = '{{name_kh}}'>
                <img src="img/ngo/{{logo}}"<h2>{{name_kh}}</h2></a></li>
        {{/each}}        
    </ul>
</div>    
