<div data-role="header">
    <a href="#page-home" class="ui-btn ui-btn-b ui-corner-all  ui-icon-back ui-btn-icon-left"></a>
    <a href="#" class="ui-btn ui-icon-search ui-btn-icon-left"></a>
    <h1>NGO Detail</h1>
    <br>
  </div>
<!--<div data-role="main" class="ui-content">       
     <h1>{{ngo_name}}</h1> 
     <h2>Detail about NGO</h2>
     <h3>{{description}}</h3>
     <h2>Contacts:</h2>
     <h3><pre>Telephone: {{phone}}</pre></h3>
     <h3><pre>Website  : {{website}}</pre></h3>
     <h3><pre>Email    : {{email}}</pre></h3>
     <h3><pre>Address  : {{address}}</pre></h3>
     <div id="mocha">
         <h5>Loaction on Map:</h5>
         
     </div>--->
     <div data-role="collapsible-set" data-theme="b" data-content-theme="b">
        <div data-role="collapsible" data-collapsed-icon="flat-time" data-expanded-icon="flat-cross" data-collapsed="false">
          <h3>Description:</h3>
          <p>I'm the collapsible content for section 1</p>
        </div>
        <div data-role="collapsible" data-collapsed-icon="flat-calendar" data-expanded-icon="flat-cross">
          <h3>Section 2</h3>
          <p>I'm the collapsible content for section 2</p>
        </div>
        <div data-role="collapsible" data-collapsed-icon="flat-settings" data-expanded-icon="flat-cross">
          <h3>Section 3</h3>
          <p>I'm the collapsible content for section 3</p>
        </div>
      </div>

     
</div>    
