@font-face{
    font-family:Khmer;
    src:url(fonts/KhmerOSNew-Regular.ttf) format('woff'),
        url(fonts/KhmerOSNew-Regular.ttf) format('truetype')       
}

.khmer-regular{    
    font-family:'Khmer';     
    margin: 0 0 0 0;
  
}
body { opacity: 0; }

#map-block {
    width:100%;
    height:250px;    
    z-index: 0;
    position: relative;
}
.detail-logo{
    height: 200px;
    width: 200px;
    z-index: 0;
    position: relative;    
}